html {
	background-attachment:fixed;
}
    
body {
	color: #000000;   
}

table, th, td {
    border: 1px solid black;
    padding:5px;
}

table {
	margin-left:15%;
	margin-right:15%;
    width:75%;
}

.banner{
	background-color: rgba(0,0,0,0);
}

.banner-image{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:60%;
	max-height:120;
}

.footer-image{
	display:block;
	margin-right:auto;
	margin-left:auto;
	width:100%;
}

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html {
    	background-color:#fff; 
    }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    /*abbr[title]:after { content: " (" attr(title) ")"; }*/

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
